html {
  box-sizing: border-box;
  /* REM */
  font-size: 62.5%;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem; /* 1rem = 10px */
}

img {
  max-width: 100%;
}

.navbar {
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}

.nav-items {
  display:flex;
}

.nav-items li {
  list-style: none;
  margin-left: 1.5rem;
}

.nav-items li a {
  text-decoration: none;
  color: #003366;
  font-weight:bold;
}

.container {
  width: 140rem;
  margin: 0 auto;
}

.logo-navbar {
  width: 8rem;
  height: 8rem;
}

.btn {
  text-decoration: none;
  color: #003366;
  padding: 1.5rem 2rem;
  border-radius: 9rem;
}

.btn-amarillo {
  background-color: #ffaa00;
}

.hero {
  background-image: url("../img/banner.png");
  height: 60rem;
  background-position: center;
  background-size: cover;
}

.subtitulo {
  color: #ffaa00;
  font-size: 2rem;
}

.texto-blanco {
  color:white;
}

.texto-verde {
  color: #a3d9a5;
}

.texto-amarillo {
  color: #ffaa00;
}

.texto-negrita {
  font-weight: bold;
}

.texto-azul {
  color: #003366;
}

.btn-blanco {
  color: white;
  border: solid white;
}

.texto-header {
  padding: 10rem 0;
  margin-right: 6rem;
}

.texto-header p, h1,h2, div {
  margin: 4rem 0;
}

.nosotros {
  display:flex;
  background-color: white;
  justify-content: center;
  align-items: center;
  height: 35rem;
}

.nosotros-items {
  width: 55rem;
}

.nosotros img {
  border-radius: 2rem;
  object-fit: cover;
  height: 25rem;
  margin-left: 3rem;
}
